body {
    background-color: powderblue;
    text-align: center;
}
h1 span {
    color: blue;
    border-top: 1px solid cyan;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid cyan;
    background-color: #04800a;
}
p {
    color: red;
}
a:hover {
background-color:cyan;
text-shadow: 1px 1px #333333;
}
.button {
    text-decoration: none;
    line-height:150%;
    text-align: center;
}
a {
    font-family: helvetica;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
li {
    list-style-type: none;
}