body {
    background-color: powderblue;
}
h1 span {
    color: blue;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    background-color: #EEEEEE;
}
p {
    color: red;
}
a:hover {
background-color:cyan;
text-shadow: 1px 1px #333333;
}
.button {
    text-decoration: none;
    line-height:10px;
}
a {
    line-height: 120%;
    font-family: helvetica;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}